*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}


body {
    font-size: 16px;
    font-family: 'Play', Arial, sans-serif;
    background-image: url('../images/stars.jpg');

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    //background: gray url('../images/nebula.jpg') repeat 0 0;
    //-webkit-animation: slide 30s linear infinite;
}


@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 0 1023px; }
}
