/*EndGame COMPONENT SETTINGS*/

.endgame__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .endgame__header{
        color:map-get($endGameColors,text);
        margin-top: 300px;
        text-align: center;
        font-size: map-get($endGameFonts,header);
    }
    .endgame__endmessage, .endgame__score, .endgame__enemies {
        @extend %textSetup;
        color:map-get($endGameColors,other);
    }
    .endgame__about{
        display: inline-block;
        margin-top: 40px;
        width: 400px;
        text-align: center;
        cursor: pointer;
    }
}
