/*EndGame COMPONENT SETTINGS*/

.endgame__container {
    @extend %flexCenter;
    .endgame__header{
        margin-top: 300px;
        text-align: center;
        color:map-get($endGameColors,text);
        font-size: map-get($endGameFonts,header);
    }
    .endgame__endmessage, .endgame__score, .endgame__enemies {
        @extend %textSetup;
        color:map-get($endGameColors,other);
    }
    .endgame__about{
        @extend %elementSet;
        margin-top: 40px;
        width: 400px;
        @include animate(showContent,1s,1,steps(60));  //Animation for about section
    }
}
