/*ScoreJet COMPONENT SETTINGS*/

.score__jets{
    @extend %flexCenter;
    flex-direction: row;
    .score__jet{
        display:inline-block;
        background-image: url('../images/rocket.png');
        @extend %imageSet;
        width: 30px;
        height: 45px;
        margin-right: 5px;
    }
}
