/*ScoreElement COMPONENT SETTINGS*/

.score__element{
    border: 1px solid white;
    display: inline-block;
    border-radius: 15px;
    width:165px;
    color: white;
    height: 40px;
    padding: 10px 5px;
}
