/*StartGame COMPONENT SETTINGS*/

.startgame__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .startgame__header{
        color:map-get($startGameColors,text);
        margin-top: 300px;
        text-align: center;
        font-size: map-get($startGameFonts,header);
    }
    .startgame__run{
        display:inline-block;
        color:map-get($startGameColors,main);
        margin-top: 20px;
        text-align: center;
        font-size: map-get($startGameFonts,run);
        cursor: pointer;
    }
    .startgame__other {
        display:inline-block;
        text-align: center;
        font-size: map-get($startGameFonts,other);
        color:map-get($startGameColors,main);
        cursor: pointer;
    }
    .startgame__rules {
        display:inline-block;
        width: 600px;
        text-align: center;
        font-size: map-get($startGameFonts,rules);
        color:map-get($startGameColors,text);
        cursor: pointer;
        >strong {
            font-size: 26px;
        }
        >span {
            font-size: 16px;
        }
    }
}
