/*StartGame COMPONENT SETTINGS*/

.startgame__container {
    @extend %flexCenter;
    .startgame__header{
        margin-top: 300px;
        text-align: center;
        color:map-get($startGameColors,text);
        font-size: map-get($startGameFonts,header);
    }
    .startgame__run{
        @extend %elementSet;
        margin-top: 20px;
        color:map-get($startGameColors,main);
        font-size: map-get($startGameFonts,run);
        @include animate(showHideContent,2.5s,infinite,steps(60));  //Animation start game
    }
    .startgame__other {
        @extend %elementSet;
        font-size: map-get($startGameFonts,other);
        color:map-get($startGameColors,main);
    }
    .startgame__rules {
        @extend %elementSet;
        width: 600px;
        font-size: map-get($startGameFonts,rules);
        color:map-get($startGameColors,text);
        >strong {
            font-size: map-get($startGameFonts,strong);
        }
        >span {
            font-size: map-get($startGameFonts,span);
        }
        @include animate(showContent,2s,1,steps(60));  //Animation for rules info
    }
}
