
/*SCORE COMPONENT COLOR SETTINGS */
$scoreColors:(
    text: white,
    backgroundPanel:rgba(32, 32, 43, 0.75)
);

$scoreElementColors:(
    text: white,
    score: gold,
    border: white,
    backgroundPanel:green
);


/*MESSAGE WINDOW COMPONENT COLOR SETTINGS */
$messageWindowColors:(
    text: gold,
    backgroundPanel:rgba(32, 32, 43, 0.75)
    //#20202b
);


/*ENDGAME COMPONENT COLOR SETTINGS */
$endGameColors:(
    text: white,
    other:gold
);

/*STARTGAME COMPONENT COLOR SETTINGS */
$startGameColors:(
    text: white,
    main:gold
);
