
/*SCORE COMPONENT COLOR SETTINGS */
$scoreColors:(
    text: white,
    backgroundPanel:#20202b
);

$scoreElementColors:(
    text: white,
    score: gold,
    border: white,
    backgroundPanel:green
);


/*MESSAGE WINDOW COMPONENT COLOR SETTINGS */
$messageWindowColors:(
    text: gold,
    backgroundPanel:#20202b
);


/*ENDGAME COMPONENT COLOR SETTINGS */
$endGameColors:(
    text: white,
    other:gold
)
