/*EndGame component placeholders*/
%textSetup {
    color:white;
    text-align: center;
    margin-top: 10px;
}


/*ScoreElement and ScoreMissed placeholders*/
%statBox {
    border: 1px solid map-get($scoreElementColors,border);
    display: inline-block;
    border-radius: 15px;
    width:165px;
    color: map-get($scoreElementColors,text);
    height: 40px;
    padding: 10px 5px;
    strong {
        color:map-get($scoreElementColors,score);
    }
}


/*StartGame and EndGame placeholders*/
%elementSet{
    display:inline-block;
    text-align: center;
    cursor: pointer;
}


/*Universal placeholders*/
//image settings
%imageSet {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

//flex center
%flexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
