/*MESSAGE WINDOW COMPONENT FONT-SIZE SETTINGS*/
$messageWindowFonts:(
    text: 20px
);


/*ENDGAME COMPONENT FONT-SIZE SETTINGS*/
$endGameFonts:(
    header: 60px
);


/*STARTGAME COMPONENT FONT-SIZE SETTINGS*/
$startGameFonts:(
    header: 60px,
    run: 46px,
    other: 28px,
    rules: 22px,
    strong:26px,
    span:16px
);
